In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
#import data
df = pd.read_csv("../API_MAR_DS2_en_csv_v3_4512242.csv")
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Morocco,MAR,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.WR.ZS,8.529997,6.409131,5.159420,3.758213,2.372645,3.056463,...,3.289602,2.858889,3.593228,4.089483,2.491624,2.353940,2.923063,4.018757,NaN,NaN
1,Morocco,MAR,ICT goods exports (% of total goods exports),TX.VAL.ICTG.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.867267,2.709857,2.206839,2.247116,2.138874,2.100924,2.427442,NaN,NaN,NaN
2,Morocco,MAR,Merchandise imports from low- and middle-incom...,TM.VAL.MRCH.R6.ZS,1.760822,1.348315,2.162162,1.935778,2.557377,2.334890,...,0.745685,0.658515,1.426302,0.889963,0.724488,0.794525,0.801158,0.440861,NaN,NaN
3,Morocco,MAR,Agricultural raw materials imports (% of merch...,TM.VAL.AGRI.ZS.UN,NaN,NaN,6.194239,6.882038,7.581997,7.264027,...,1.773434,1.767254,1.813444,1.549926,1.578534,1.605075,1.503701,1.508409,NaN,NaN
4,Morocco,MAR,"Bound rate, simple mean, all products (%)",TM.TAX.MRCH.BR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.210000,41.300000,41.300000,41.330000,NaN,41.330000,41.330000,NaN,NaN